DTD Y XML-SCHEMA.DTD

DTD_INTERNO

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE libro [
<!ELEMENT libro (autor, titulo)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT titulo (#PCDATA)>
]>

<libro>
  <autor>Miguel de Cervantes Saavedra</autor>
  <titulo>El Quijote de la Mancha</titulo>
</libro>


----------------------------------------------------------
atributos obligatorios

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE biblioteca [
<!ELEMENT biblioteca (libro+)>
<!ELEMENT libro (autor, titulo)>
<!ATTLIST libro codigo CDATA #REQUIRED>
<!ATTLIST libro ubicacion CDATA #IMPLIED>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT titulo (#PCDATA)>
]>

<biblioteca>
  <libro codigo="123" ubicacion="estantería 1">
    <autor>Miguel de Cervantes Saavedra</autor>
    <titulo>El Quijote de la Mancha</titulo>
  </libro>
  <libro codigo="1023" ubicacion="estantería 3">
    <autor>Pablo Neruda</autor>
    <titulo>Veinte poemas de amor y una canción desesperada</titulo>
  </libro>
</biblioteca>

------------------------------------------------------------
factura

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE factura [
<!ELEMENT factura (emision, vendedor, cliente, articulo+, descuento?)>
<!ATTLIST factura
  id ID #REQUIRED>

<!ELEMENT emision (#PCDATA)>
<!ELEMENT vendedor (nombre)>
<!ATTLIST vendedor
  id ID #REQUIRED>

<!ELEMENT cliente (nombre, direccion, telefono*, telefono*)>
<!ATTLIST cliente
  id ID #REQUIRED>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT direccion (via, cp, localidad, provincia)>
<!ELEMENT via (#PCDATA)>
<!ELEMENT cp (#PCDATA)>
<!ELEMENT localidad (#PCDATA)>
<!ELEMENT provincia (#PCDATA)>
<!ELEMENT telefono EMPTY>
<!ATTLIST telefono
  num CDATA #REQUIRED>

<!ELEMENT articulo (denominacion, precio, cantidad)>
<!ATTLIST articulo
  id ID #REQUIRED
  iva CDATA #REQUIRED>

<!ELEMENT denominacion (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT cantidad (#PCDATA)>

<!ELEMENT descuento (#PCDATA)>



<factura id="876">
  <emision>2012-02-28T08:25:02</emision>
  <vendedor id="12">
    <nombre>Felipe Cuesta Pérez</nombre>    
  </vendedor>
  <cliente id="9878">
    <nombre>Raquel Rengo Suárez</nombre>
    <direccion>
      <via>Calle Alonso Cano, 2, 3º A</via>
      <cp>41700</cp>
      <localidad>Dos Hermanas</localidad>
      <provincia>Sevilla</provincia>
    </direccion>
    <telefono num="666111666"/>
    <telefono num="954666111"/>
  </cliente>
  <articulo id="121" iva="18">
    <denominacion>Silla giratoria modelo C-121</denominacion>
    <precio>98.23</precio>
    <cantidad>1</cantidad>
  </articulo>
  <articulo id="9341" iva="18">
    <denominacion>Mesa estudio 120x80 haya modelo A2-456-X</denominacion>
    <precio>193.23</precio>
    <cantidad>1</cantidad>
  </articulo>
  <articulo id="1124" iva="18">
    <denominacion>Lámpara mesa con pantalla naranja modelo AK-987</denominacion>
    <precio>23.12</precio>
    <cantidad>2</cantidad>    
  </articulo>
  <descuento>20</descuento>
</factura>
----------------------------------------------------------------------
AUTOPISTA

<!DOCTYPE paneles [
    <!ELEMENT paneles (evento+)>
    <!ELEMENT evento (via, pk, retencion, sentido?, carrilescortados?)>
    <!ATTLIST evento
        tipo CDATA #REQUIRED
        fecha CDATA #IMPLIED
    >
    <!ELEMENT via (nombre, ref, origen, destino, (doble | sentido), carriles)>
    <!ELEMENT doble EMPTY>
    <!ELEMENT sentido (#PCDATA)>
    <!ELEMENT retencion EMPTY>
    <!ATTLIST retencion
        long CDATA #REQUIRED
    >
    <!ELEMENT carriles (#PCDATA)>
    <!ELEMENT carrilescortados EMPTY>
    <!ATTLIST carrilescortados
        valor (1|2|3|4) #REQUIRED
    >
    <!ELEMENT nombre (#PCDATA)>
    <!ELEMENT ref (#PCDATA)>
    <!ELEMENT origen (#PCDATA)>
    <!ELEMENT destino (#PCDATA)>
    <!ELEMENT pk (#PCDATA)>
]>

<paneles>
    <evento tipo="Cierre" fecha="2024-01-17">
        <via>
            <nombre>Autopista A1</nombre>
            <ref>A1</ref>
            <origen>Ciudad A</origen>
            <destino>Ciudad B</destino>
            <doble/>
            <carriles>4</carriles>
        </via>
        <pk>150</pk>
        <retencion long="10"/>
        <carrilescortados valor="2"/>
    </evento>

    <evento tipo="Accidente">
        <via>
            <nombre>Autopista A2</nombre>
            <ref>A2</ref>
            <origen>Ciudad X</origen>
            <destino>Ciudad Y</destino>
            <sentido>Norte</sentido>
            <carriles>3</carriles>
        </via>
        <pk>80</pk>
        <retencion long="5"/>
    </evento>
</paneles>
-------------------------------------------------------
BALONCESTO

<!DOCTYPE equipos_de_baloncesto [
    <!ELEMENT equipos_de_baloncesto (equipo, equipo)>
    <!ELEMENT equipo (nombre, ciudad, entrenador, jugadores)>
    <!ELEMENT jugadores (jugador+)>
    <!ELEMENT jugador (nombre, posicion, nacionalidad)>
    <!ATTLIST jugador
        posicion (Base|Escolta|Alero|Pivot) #REQUIRED
    >
    <!ELEMENT nombre (#PCDATA)>
    <!ELEMENT ciudad (#PCDATA)>
    <!ELEMENT entrenador (#PCDATA)>
    <!ELEMENT jugador (#PCDATA)>
    <!ELEMENT nacionalidad (#PCDATA)>
]>

<equipos_de_baloncesto>
    <equipo>
        <nombre>Equipo A</nombre>
        <ciudad>Ciudad A</ciudad>
        <entrenador>Entrenador A</entrenador>
        <jugadores>
            <jugador posicion="Base">
                <nombre>Jugador1A</nombre>
                <nacionalidad>Nacionalidad1A</nacionalidad>
            </jugador>
            <jugador posicion="Escolta">
                <nombre>Jugador2A</nombre>
                <nacionalidad>Nacionalidad2A</nacionalidad>
            </jugador>
        </jugadores>
    </equipo>

    <equipo>
        <nombre>Equipo B</nombre>
        <ciudad>Ciudad B</ciudad>
        <entrenador>Entrenador B</entrenador>
        <jugadores>
            <jugador posicion="Alero">
                <nombre>Jugador1B</nombre>
                <nacionalidad>Nacionalidad1B</nacionalidad>
            </jugador>
            <jugador posicion="Pivot">
                <nombre>Jugador2B</nombre>
                <nacionalidad>Nacionalidad2B</nacionalidad>
            </jugador>
        </jugadores>
    </equipo>
</equipos_de_baloncesto>
-------------------------------------------------------------
XSD:DISPOSITIVO

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dispositivo">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="conectado"/>
        <xs:enumeration value="ocupado"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
</xs:schema>
-------------------------------------------------------------
XSD:NOTA

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="nota">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="para" type="xs:string"/>
        <xs:element name="de" type="xs:string"/>
        <xs:element name="titulo" type="xs:string"/>
        <xs:element name="contenido" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
---------------------------------------------------------------
XSD:CALIFICACION

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="calificacion">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:minInclusive value="0"/>
        <xs:maxInclusive value="10"/>
        <xs:fractionDigits value="1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
</xs:schema>
--------------------------------------------------------------
XSD: DOMINIO

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="secondLevelDomain">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z0-9]+(?:-[a-z0-9]+)*"/>
      <xs:minLength value="2"/>
      <xs:maxLength value="63"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="topLevelDomain">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z]{2,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="dominio">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[a-z0-9]+(?:-[a-z0-9]+)*\.[a-z]{2,3}"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
</xs:schema>
--------------------------------------------------------------
XSD: VEHICULOS

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="diaType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="31"/>
      <xs:totalDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="mesType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="12"/>
      <xs:totalDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="anyoType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1900"/>
      <xs:maxInclusive value="2099"/>
      <xs:totalDigits value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nombreType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="modeloType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="modificacionType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="vehiculoType">
    <xs:sequence>
      <xs:element name="nombre" type="nombreType"/>
      <xs:element name="modelo" type="modeloType"/>
      <xs:element name="fabricacion" type="fabricacionType"/>
      <xs:element name="modificaciones" type="modificacionesType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inicioType">
    <xs:sequence>
      <xs:element name="dia" type="diaType"/>
      <xs:element name="mes" type="mesType"/>
      <xs:element name="anyo" type="anyoType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="finType">
    <xs:sequence>
      <xs:element name="dia" type="diaType"/>
      <xs:element name="mes" type="mesType"/>
      <xs:element name="anyo" type="anyoType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fabricacionType">
    <xs:sequence>
      <xs:element name="inicio" type="inicioType"/>
      <xs:element name="fin" type="finType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificacionesType">
    <xs:sequence>
      <xs:element name="modificacion" type="modificacionType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vehiculosType">
    <xs:sequence>
      <xs:element name="vehiculo" type="vehiculoType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vehiculos" type="vehiculosType"/>
</xs:schema>
---------------------------------------------------------
XSD:CARTELERA

  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:noNamespaceSchemaLocation="421.xsd">
  <pelicula codigo="film899895" duracion="192" ano="2022">
    <titulo>Avatar: El sentido del agua</titulo>
    <titulo-original>Avatar: The Way of Water</titulo-original>
    <pais>Estados Unidos</pais>
    <generos>
      <genero>Ciencia ficción</genero>
      <genero>Aventuras</genero>
      <genero>Fantástico</genero>
      <genero>Acción</genero>
    </generos>
    <clasificacion edad="12" />
    <sinopsis>
      Más de una década después de los acontecimientos de 'Avatar', los Na'vi Jake Sully, Neytiri y
      sus hijos viven en paz en los bosques de Pandora hasta que regresan los hombres del cielo.
      Entonces comienzan los problemas que persiguen sin descanso a la familia Sully, que decide
      hacer
      un gran sacrificio para mantener a su pueblo a salvo y seguir ellos con vida.
    </sinopsis>
    <director>James Cameron</director>
    <reparto>
      <actor>Sam Worthington</actor>
      <actriz>Zoe Saldana</actriz>
      <actriz>Sigourney Weaver</actriz>
      <actriz>Kate Winslet</actriz>
      <actor>Stephen Lang</actor>
      <actor>Cliff Curtis</actor>
      <actor>Joel David Moore</actor>
      <actriz>Edie Falco</actriz>
    </reparto>
    <web>https://www.avatar.com/movies/avatar-the-way-of-water</web>
    <imdb>https://www.imdb.com/title/tt1630029</imdb>
    <cartel>avatar-the-way-of-water.jpg</cartel>
  </pelicula>

  <pelicula codigo="film929728" duracion="141" ano="2017">
    <titulo>Wonder Woman</titulo>
    <pais>Estados Unidos</pais>
    <generos>
      <genero>Fantástico</genero>
      <genero>Acción</genero>
      <genero>Bélico</genero>
      <genero>Superhéroes</genero>
    </generos>
    <clasificacion edad="12" />
    <sinopsis>
      Antes de ser Wonder Woman (Gal Gadot) era Diana, princesa de las Amazonas, entrenada para ser
      una guerrera invencible. Diana fue criada en una isla paradisíaca protegida. Hasta que un día
      un piloto norteamericano (Chris Pine), que tiene un accidente y acaba en sus costas, le habla
      de un gran conflicto existente en el mundo [Primera Guerra Mundial]. Diana decide salir de la
      isla convencida de que puede detener la terrible amenaza. Mientras lucha junto a los hombres
      en la guerra que acabará con todas las guerras, Diana descubre todos sus poderes y su
      verdadero destino.
    </sinopsis>
    <directora>Patty Jenkins</directora>
    <reparto>
      <actriz>Gal Gadot</actriz>
      <actor>Chris Pine</actor>
      <actriz>Robin Wright</actriz>
      <actriz>Lucy Davis</actriz>
      <actriz>Connie Nielsen</actriz>
      <actor>Danny Huston</actor>
      <actor>David Thewlis</actor>
    </reparto>
    <imdb>https://www.imdb.com/title/tt0451279</imdb>
    <cartel>wonder-woman.jpg</cartel>
  </pelicula>

  <pelicula codigo="film936995" duracion="125" ano="2004">
    <titulo>Mar adentro</titulo>
    <pais>España</pais>
    <generos>
      <genero>Drama</genero>
    </generos>
    <sin-clasificar />
    <sinopsis>
      Ramón (Javier Bardem) lleva casi treinta años postrado en una cama al cuidado de su familia.
      Su única ventana al mundo es la de su habitación, que da al mar, donde sufrió el accidente que
      interrumpió su juventud. Desde entonces, su único deseo es morir dignamente. En su vida
      ejercen una gran influencia dos mujeres: Julia (Belén Rueda), una abogada que apoya su causa,
      y Rosa (Lola Dueñas), una vecina que intenta convencerlo de que vivir merece la pena. Pero
      también ellas, cautivadas por la luminosa personalidad de Ramón, se replantearán los
      principios que rigen sus vidas. Él sabe que sólo quien de verdad le ame le ayudará a emprender
      el último viaje.
    </sinopsis>
    <director>Alejandro Amenábar</director>
    <reparto>
      <actor>Javier Bardem</actor>
      <actriz>Belén Rueda</actriz>
      <actriz>Lola Dueñas</actriz>
      <actriz>Mabel Rivera</actriz>
      <actriz>Clara Segura</actriz>
      <actor>Joan Dalmau</actor>
    </reparto>
    <imdb>https://www.imdb.com/title/tt0369702</imdb>
    <cartel>mar-adento-2004.jpg</cartel>
  </pelicula>
</cartelera>

421.xsd
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cartelera" type="tCartelera" />

  <xs:complexType name="tCartelera">
    <xs:sequence>
      <xs:element name="pelicula" type="tPelicula" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tPelicula">
    <xs:sequence>
      <xs:element name="titulo" type="xs:string"  />
      <xs:element name="titulo-original" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="pais" type="xs:string" />
      <xs:element name="generos" type="tGenero" />
      <xs:choice>
        <xs:element name="clasificacion" type="tClasificacion"/>
        <xs:element name="sin-clasificar" type="tSinClasificar"/>
      </xs:choice>
      <xs:element name="sinopsis" type="xs:string"/>
      <xs:choice>
        <xs:element name="director" type="xs:string" />
        <xs:element name="directora" type="xs:string" />
      </xs:choice>
      <xs:element name="reparto" type="tReparto"/>
      <xs:element name="web" type="url" minOccurs="0" maxOccurs="1"/>
      <xs:element name="imdb" type="url"/>
      <xs:element name="cartel" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="codigo" type="xs:ID" use="required"/>
    <xs:attribute name="duracion" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="ano" type="xs:positiveInteger" use="required"/>
  </xs:complexType>

  <xs:complexType name="tGenero">
    <xs:sequence>
      <xs:element name="genero" type="xs:string" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tClasificacion">
    <xs:attribute name="edad" type="tEdad" use="required"/>
  </xs:complexType>

  <xs:simpleType name="tEdad">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="tSinClasificar" />

  <xs:complexType name="tReparto">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:element name="actor" type="xs:string" />
        <xs:element name="actriz" type="xs:string" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="url">
    <xs:restriction base="xs:string">
      <xs:pattern value="([Hh][Tt]{2}[Pp][Ss]?)://.*" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>





















